VLN-*/datasets/
VLN-*/do-not-push

.ftpignore
.ftpconfig
.vscode

__pycache__/
*.py[cod]
*$py.class
*.swp

*.err
*.out

*.log
*.ipynb_checkpoints/

.DS_Store
.ipynb_checkpoints/

*.hdf5
*.ckpt
*.pth
*.pt
*.bin
events.out.tfevents.*
