numpy==1.21.6
scipy
pandas
scikit-learn
matplotlib
networkx
h5py
lmdb
tqdm
jsonlines
msgpack
PyYAML
tensorboardX
transformers==4.12.5
spacy==3.6.0
opencv-python
Pillow
einops
nltk
yacs
easydict
openpyxl
ipython
jupyter
